body,html {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(19, 51, 92);
    color: rgb(221, 221, 221);
}

#timer {
    font-size: 300px;
    margin: auto;
    text-align: center;
}

#startButton {
    font-size: 30px;
    margin: auto;
    display: block;
    text-align: center;
}

@media screen and (max-width: 576px) {
    #timer {
        font-size: 150px;
    }
}
